<nav class="bg-dark text-white text-center py-3 container-100 row">
  <h1 class="col-3">Ma super NavBar</h1>
  <!-- lien RouterLink -->
  <a routerLink="/home" class="navbar-brand col-1 me-2 my-auto">Home</a>
  <!-- Liens classiques -->
  <a href="http://www.google.fr" class="navbar-brand col-1 me-2 my-auto">Google</a>
  <a href="http://www.angular.dev" class="navbar-brand col-1 me-2 my-auto">Angular</a>
  <a href="https://www.meteoblue.com/fr/meteo/semaine/bo%c3%b4-silhen_france_3031611" class="navbar-brand col-1 me-2 my-auto">Meteoblue</a>

</nav>
